{% extends "base.html" %}

{% block content %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bookstop</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo_bookstop.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos2.css' %}" rel="stylesheet">
    <link href="{% static 'css/reloj.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    



    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    

</head>

<body>
    

    <div class="container">

        <h3 class="title"> Catalogo de Productos </h3>
     
        <div class="products-container">
     
           <div class="product" data-name="p-1">
            <img 
                            src="{% static 'img/macetero.jpg' %}"
                            alt="">
              
              <h3>Macetero Biodegradable Mediano Rojo</h3>
              <div class="price">$3.890</div>
           </div>
     
           <div class="product" data-name="p-2">
              <img src="img/macetero2.png" alt="">
              <h3>Maceta Cerámica Frankfurt</h3>
              <div class="price">$10.990</div>
           </div>
     
           <div class="product" data-name="p-3">
              <img src="img/macetero3.png" alt="">
              <h3>Macetero Cilindrico Mediano Castaño</h3>
              <div class="price">$17.900</div>
           </div>
     
           <div class="product" data-name="p-4">
              <img src="img/tierra.png" alt="">
              <h3>Tierra de hojas 15 L</h3>
              <div class="price">$1.990</div>
           </div>
     
           <div class="product" data-name="p-5">
              <img src="img/tierra 2.png" alt="">
              <h3>Tierra de Hojas 40L Compost</h3>
              <div class="price">$4.990</div>
           </div>
     
           <div class="product" data-name="p-6">
              <img src="img/tierra 3.png" alt="">
              <h3>Tierra de Hojas 40 L</h3>
              <div class="price">$6.150</div>
           </div>
           <div class="product" data-name="p-7">
             <img src="img/flor.png" alt="">
             <h3>Planta Calathea</h3>
             <div class="price">$4.990</div>
          </div>
          <div class="product" data-name="p-8">
             <img src="img/flores 1.png" alt="">
             <h3>Rosas Rojas de Base Gris</h3>
             <div class="price">$7.990</div>
          </div>
          <div class="product" data-name="p-9">
             <img src="img/flor 4.png" alt="">
             <h3>Florero Con Girasoles</h3>
             <div class="price">$15.990</div>
          </div>
          <div class="product" data-name="p-10">
             <img src="img/arbusto 2.png " alt="">
             <h3>Palmera Árbol 80 cm</h3>
             <div class="price">$6.990</div>
          </div>
          <div class="product" data-name="p-11">
             <img src="img/arbusto 3.png " alt="">
             <h3>Planta Decorativa Artificial Arbusto</h3>
             <div class="price">$8.990</div>
          </div>
          <div class="product" data-name="p-12">
             <img src="img/arbusto 4.png" alt="">
             <h3>Peperomia 90 cm</h3>
             <div class="price">$12.990</div>
          </div>
     
        </div>
     
     </div>
     
     <div class="products-preview">
     
        <div class="preview" data-target="p-1">
           <i class="fas fa-times"></i>
           <img src="img/macetero.png" alt="">
           <h3>Macetero Biodegradable Mediano Rojo</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Macetero confeccionado en arena y resina con
             un tamaño ideal para decorar  sin contaminar.</p>
           <div class="price">$3.890</div>
           <div class="buttons">
              <a href="#" class="buy">Comprar Ahora</a>
              <a href="#" class="cart">Agregar al Carrito</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-2">
           <i class="fas fa-times"></i>
           <img src="img/macetero2.png" alt="">
           <h3>Macetero de Cerámica Frankfurt</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p> Macetero de cerámica de alta calidad que aportan 
             diseño y belleza a cualquier ambiente</p>
           <div class="price">$10.990</div>
           <div class="buttons">
             <a href="#" class="buy">Comprar Ahora</a>
             <a href="#" class="cart">Agregar al Carrito</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-3">
           <i class="fas fa-times"></i>
           <img src="img/macetero3.png" alt="">
           <h3>Macetero Cilindrico Mediano Castaño</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Maceteros perfectos para decorar, diseñados para interior y exterior,
              livianos, durables y resistentes.</p>
           <div class="price">$17.900</div>
           <div class="buttons">
             <a href="#" class="buy">Comprar Ahora</a>
             <a href="#" class="cart">Agregar al Carrito</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-4">
           <i class="fas fa-times"></i>
           <img src="img/tierra.png" alt="">
           <h3>Tierra de hojas 15 L</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Sustrato natural desarrollado a partir de la compostación de hojas y
              residuos vegetales, que mejora las condiciones de los suelos</p>
           <div class="price">$1.990</div>
           <div class="buttons">
             <a href="#" class="buy">Comprar Ahora</a>
             <a href="#" class="cart">Agregar al Carrito</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-5">
           <i class="fas fa-times"></i>
           <img src="img/tierra 2.png" alt="">
           <h3>Tierra de Hojas 40L Compost</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Sustrato natural desarrollado a partir de la compostación de hojas y
             residuos vegetales.</p>
           <div class="price">$4.990</div>
           <div class="buttons">
             <a href="#" class="buy">Comprar Ahora</a>
             <a href="#" class="cart">Agregar al Carrito</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-6">
           <i class="fas fa-times"></i>
           <img src="img/tierra 3.png" alt="">
           <h3>Tierra de Hojas 40 Litros</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Sustrato natural desarrollado a partir de la compostación de hojas y
             residuos vegetales, que mejora las condiciones de los suelos</p>
           <div class="price">$6.150</div>
           <div class="buttons">
             <a href="#" class="buy">Comprar Ahora</a>
             <a href="#" class="cart">Agregar al Carrito</a>
             
           </div>
        </div>
    
        <div class="preview" data-target="p-7">
          <i class="fas fa-times"></i>
          <img src="img/flor.png " alt="">
          <h3>Planta Calathea</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>La Calathea es una planta que te sorprenderá desde el primer minuto,
              sus tonos verdes obscuros y verdes.</p>
          <div class="price">$4.990</div>
          <div class="buttons">
            <a href="#" class="buy">Comprar Ahora</a>
            <a href="#" class="cart">Agregar al Carrito</a>
            
          </div>
       </div>
    
       <div class="preview" data-target="p-8">
          <i class="fas fa-times"></i>
          <img src="img/flores 1.png " alt="">
          <h3>Rosas Rojas de Base Gris</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Llena de color tus espacios y dejar ver tu personalidad con estos
              accesorios que renovaran tu hogar.
              </p>
          <div class="price">$7.990</div>
          <div class="buttons">
            <a href="#" class="buy">Comprar Ahora</a>
            <a href="#" class="cart">Agregar al Carrito</a>
            
          </div>
       </div>
    
       <div class="preview" data-target="p-9">
          <i class="fas fa-times"></i>
          <img src="img/flor 4.png " alt="">
          <h3>Florero Con Girasoles</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Florero vidrio degradé azul o color en stock elaborado con de 6 girasoles</p>
          <div class="price">15.990</div>
          <div class="buttons">
            <a href="#" class="buy">Comprar Ahora</a>
            <a href="#" class="cart">Agregar al Carrito</a>
            
          </div>
       </div>
       <div class="preview" data-target="p-10">
          <i class="fas fa-times"></i>
          <img src="img/arbusto 2.png" alt="">
          <h3>Palmera Árbol 80 cm</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Planta Decorativa Palmera Árbol 80 cm Artificial Marca The Garden  </p>
          <div class="price">6.990</div>
          <div class="buttons">
            <a href="#" class="buy">Comprar Ahora</a>
            <a href="#" class="cart">Agregar al Carrito</a>
            
          </div>
       </div>
    
       <div class="preview" data-target="p-11">
          <i class="fas fa-times"></i>
          <img src="img/arbusto 3.png" alt="">
          <h3>Planta Decorativa Artificial Arbusto</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Planta Decorativa Artificial Arbusto de 13.5 cm Marca The Garden</p>
          <div class="price">8.990</div>
          <div class="buttons">
            <a href="#" class="buy">Comprar Ahora</a>
            <a href="#" class="cart">Agregar al Carrito</a>
            
          </div>
       </div>
    
       <div class="preview" data-target="p-12">
          <i class="fas fa-times"></i>
          <img src="img/arbusto 4.png" alt="">
          <h3>Peperomia 90 cm</h3>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
             <span>( 250 )</span>
          </div>
          <p>Planta Artificial Peperonia de 90 cm Marca The Garden</p>
          <div class="price">12.990</div>
          <div class="buttons">
            <a href="#" class="buy">Comprar Ahora</a>
            <a href="#" class="cart">Agregar al Carrito</a>
            
          </div>
       </div>
     
     </div>
    
     <div class="wrap">
       <div class="widget">
           <div class="fecha">
    
               <p id="diaSemana" class="diaSemana"></p>
               <p id="dia" class="dia"></p>
               <p>de </p>
               <p  id="mes" class="mes"></p>
               <p>del </p>
               <p id="year" class="year"></p>
               <p>-</p>
               
               <p id="horas" class="horas"></p>
               <p>:</p>
               <p id="minutos" class="minutos"></p>
               <p>:</p>
    
           
               
               <p id="segundos" class="segundos"></p>
               <p id="ampm" class="ampm"></p>
           </div>
       </div>
    </div>
    
    </main><br>
    <footer>

        
        <div class="row col-12">
            <div class="col-lg-2">
                <img src="{% static 'img/fondo.png' %}" alt="logoBookStop" width="60px">
            </div>
            <div class="col-lg-1">
                <a href="{% url 'index' %}" id="linkFooter"><strong>INICIO</strong></a>
            </div>
            <div class="col-lg-1">
                <a href="{% url 'index' %}" id="linkFooter"><strong>QUIENES SOMOS</strong></a>
            </div>
            <div class="col-lg-1">
                <a href="{% url 'index' %}" id="linkFooter"><strong>GALERIA</strong></a>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'index' %}" id="linkFooter"><strong>CONTACTO</strong></a>
            </div>

            
                

            <div class="col-lg-2">
                <strong>Síguenos</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'icon/twitter.png' %}" alt="" width="30px" height="30px"
                        style=" margin-left: 15px;">
                    <img src="{% static 'icon/facebook.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
                    <img src="{% static 'icon/insta.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">

                </div>
            </div>


            <div class="col-lg-3">

                <strong>Contacto</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'icon/house.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>ValleEncanto 411, Talagante</p>
                </div>
                <div class="row">
                    <img src="{% static 'icon/smartphone.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>+569 41001278</p>
                </div>
                <div class="row">
                    <img src="{% static 'icon/contact.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>Jvalledelencanto@gmail.com</p>
                </div>
                <br><br><br>

                <p>&copy;Juan Guillermo Lecaros Duarte ©2023 Todos los Derechos Reservados.-Jardineria</p>
            </div>
        </div>


        
    </footer>

    <!-- script que permite mostrar/ocultar navbar haciendo scroll -->
    <script type="text/javascript">
        let ubicacionInicial = window.pageYOffset;
        window.onscroll = function () {
            let ubicacionPosterior = window.pageYOffset;
            if (ubicacionInicial >= ubicacionPosterior) {
                document.getElementById("barraNav").style.top = "0";
            }
            else {
                document.getElementById("barraNav").style.top = "-70px";
            }
            ubicacionInicial = ubicacionPosterior
        }
    </script>
</body>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/validacion.js' %}"></script>



<script src="{% static 'js/jss.js' %}"></script>
<script src="{% static 'js/js.js' %}"></script>
<script src="{% static 'js/reloj.js' %}"></script>
<script src="https://kit.fontawesome.com/03a89292db.js" crossorigin="anonymous"></script>

</html>
{% endblock %}